body {
    color: #e8e6e6;
    
    background-color: #1c191a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0; 
}
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 10px;
    border-bottom: 8px solid #f6e7d8;
    position: relative; 
}
@font-face {
    font-family: otsikko;
    src: url(fontit/Copperplate-Gothic-Std-29-AB.ttf);
}
@font-face {
    font-family: kappale;
    src: url(fontit/centurygothic.ttf);
}
p {
    font-size: 16px;
    font-family: kappale, "sans serif";
}
h1 {
    font-family: otsikko, "sans serif";
    font-size: 50px;
   
    padding-left: 60px;
}
h2, h3 {
    
    font-family: otsikko, "sans serif";
}

.paaotsikko {
    text-align: center;
    
}

nav {
    margin-left: 100px;  
    gap: 5px; 
    position: absolute; 
    top: 0; 
    right: 0; 
    display: flex;
    gap: 20px; 
    padding: 10px; 
    position: relative; 
    margin-right: 100px;
}

nav a {
    
    display: flex; /* Flexbox-linkin sisälle */
    justify-content: center; /* Keskittää tekstin vaakasuunnassa */
    align-items: center; /* Keskittää tekstin pystysuunnassa */
    background: #1c191a ;
    font-family: otsikko, "sans serif";
    color: #e8e6e6 ;
    text-decoration: none;
    border: 4px solid #f6e7d8;
    border-radius: 25px;
    padding: 0 20px; /* Varmista, että padding on vain sivuilla */
    height: 50px; /* Sama korkeus kaikille linkeille */
    box-sizing: border-box; /* Sisällyttää paddingin laatikon kokoon */
}
nav a:hover {
    color: #1c191a;
    background-color: #e8e6e6 ;
}
#valittu {
    color:  #1c191a;
    background-color: #e8e6e6 ;
    border: 4px solid #1c191a;
}

.CTA {
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 2px solid  #f6e7d8;
    border-radius: 10px;
    background-color: #1c191a;
    font-family: otsikko, "sans serif";
    color:  #e8e6e6;
    padding: 25px 32px;
    text-align: center;
    text-decoration: none;
    margin: 150px 20px; 
    cursor: pointer;
    width: auto;
    height: auto; 
    font-size: 1.5rem; 
    box-sizing: border-box;
}

.kategoria {
    color:  #e8e6e6;
    background-color: #404040;
    border: 12px solid #f6e7d8;
    border-radius: 8px;
}

figure {
    border: 10px #f6e7d8 solid;
    margin: auto;
    margin-bottom: 0px;
    max-width: 500px;
}
figcaption {
    background-color: #404040;
    color: #e8e6e6;
    font-style: italic;
    padding: 8px;
    text-align: center;
}


.kappale img {
    width: 500px;
    vertical-align: middle;
    
}

.kategoria img {
    width: 500px;
    height: auto;
    border-radius: 25px;
}

.logo {
    
    top: 10px;
    left: 10px;
    height: 100px; 
    width: auto; 
    z-index: 10; 
    border-radius: 10px;
    margin-right: 20px; /* Lisää marginaalia logon oikealle puolelle */

}

.kappale2 {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "teksti kartta";
    gap: 20px; /* Väli teksti- ja karttaosioiden välillä */
    margin-bottom: 200px;
}

.grid-teksti {
    grid-area: teksti;
    background-color: #404040; /* Taustaväri */
    color: #e8e6e6; /* Tekstiväri */
    border-radius: 8px; /* Kulmat pyöristettyinä */
    padding: 20px; /* Tilaa tekstin ympärillä */

}

.grid-kartta {
    grid-area: kartta;
    color:#1c191a ;
    background-color: #f6e7d8; /* Taustaväri */
    border-radius: 8px; /* Kulmat pyöristettyinä */
    padding: 20px; /* Tilaa kartan ympärillä */
}

.grid-kartta iframe {
    width: 100%; /* Kartta venyy täydelle leveydelle */
    height: 400px; /* Korkeus kartalle */
    border: none; /* Poistetaan kehys */
    
}
.grid-teksti1 { grid-area: g1; }
.grid-teksti2 { grid-area: g2; }
.grid-kuva { grid-area: g3; }

#kategoria1 {grid-area: g1;}
#kategoria2 {grid-area: g2;}
#kategoria3 {grid-area: g3;}
#kategoria4 {grid-area: g4;}

.grid-container {
    display: grid;
    gap: 20px;
    padding: 20px;
}


footer{
    color: #1c191a;
    font-family: otsikko, "sans serif";
    font-size: 18px;
    background-color: #f6e7d8;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.fa {
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    background-color:  #404040;
    color: #e8e6e6
}
.fa:hover {
    opacity: 0.6;
}

/*mobiilikoko*/
@media (max-width: 850px) {
    #kaikki {
        background-image: url(kuvat/Seina-mobiili.jpg);
        background-size: cover;
        height: 400px;
    }
    header {
        flex-direction: column; 
        align-items: center; 
    }
    .CTA {
        font-size: 1rem; 
        padding: 10px 20px;
        margin: 20px 0; 
        width: 90%; 
        height: 150px;
    }
    .logo {
        height: 75px; 
    }
    nav {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 0px; 
        margin-top: 10px; 
    }
    nav a { 
        font-size: 20px;
        height: 25px;
        padding: 20px 25px;
        margin:5px 20px;
        width: 100%; 
        text-align: center; 
    }
    h1 {
        font-size: 25px;
    }
    h2{
        font-size: 20px; 
    }
    h3 {
        font-size: 18px;
    }
    .paaotsikko {
        margin: 3% 15% 3% 3%;
    }
    .kappale {
        margin: 3% 10% 3% 0.5%;
    }
    .kappale img {
        width: 275px;
    }
    .kappale figure {
        width: 275px;
    }
    #paasivu {
        grid-template-areas:
            'g1'
            'g3'
            'g2';
    }
    .tuotteita {
        display: grid;
        grid-template-areas: 
            'g1'
            'g2'
            'g3'
            'g4';
        gap: 5px;
        margin-top: 20px;
        margin-left: 5px;
        margin-bottom: 25px;
    }
    .kategoria {
        width: 300px;
        padding: 10px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
 
    .kategoria img {
       width: 300px; 
       height: 200px;
    }
    
    .grid-container {
        display: grid;
        grid-template-areas: 
            'teksti'
            'kartta';
        gap: 10px; 
        margin-bottom: 50px;
        
    }
    .grid-kartta{
        height: 350px;
    }
    .grid-kartta iframe {
        width: 100%; 
        height: 250px; 
        
    }
    footer{
        flex-direction: column;
        text-align: center;
        background-color: #f6e7d8;
    }
}

/*tablettikoko*/
@media screen and (min-width: 850px) {
    #kaikki {
        background-image: url(kuvat/Seina-400-300.jpg);
        background-size: cover;
        height: 300px;
    }
    .CTA{
        width: 25%;
    }
    nav {
        display: flex;
        flex-direction:row; 
        align-items: center; 
        gap: 0px; 
        margin-left: 0;
        
    }
    nav a { 
        font-size: 18px;
        width: 60px;
        height: 25px;
        padding: 65px;
        margin:5px 5px;
        text-align: center;
    }
    h1 {
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    .paaotsikko {
        margin: 3% 10% 3% 10%;
    } 
    .kappale {
        margin: 3% 10% 3% 10%;
        flex-direction: column;
    }  
    #paasivu {
        grid-template-areas:
            'g1'
            'g3'
            'g2';
    }
    .tuotteita {
        display: grid;
        grid-template-areas: 
            'g1 g1'
            'g2 g2'
            'g3 g3'
            'g4 g4';
        gap: 10px;
        margin: 20px 50px 200px;
    }
    .kategoria {
        padding: 10px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .kategoria img{
       height: 300px;
    }
    .grid-container {
        display: grid;
        grid-template-areas: 
            'teksti','kartta';
        gap: 10px;   
    }
    footer{
        bottom: 0;
        position: fixed;
        flex-direction: column;
        text-align: center;
        width: 100%; 
    }
}

@media screen and (min-width: 1200px) {
    #kaikki {
        background-image: url(kuvat/Seina-700-300.jpg);
        background-size: cover;
        height: 350px;
    }
    .CTA{
        width: 55%;
        
    }
    nav a { 
        font-size: 18px;
        width: 60px;
        height: 25px;
        padding: 70px;
        margin:5px 20px;
        text-align: center;
    }
    h1 {
        font-size: 45px;
    }
    h2{
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    td{
       font-size: 20px;
    }
    .paaotsikko {
        margin: 3% 15% 3% 15%;
    }
    .kappale {
        margin: 3% 15% 3% 15%;
        flex-direction: row;
    }
    #paasivu {
        grid-template-areas:
            'g1 g1 g3'
            'g2 g2 g3';
        margin-bottom: 100px;
    }
    .tuotteita {
        display: grid;
        grid-template-areas: 
            'g1 g1 g3'
            'g2 g2 g4';
        gap: 20px;
        margin: 25px 20px 100px 20px;
    }
    .kategoria {
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    footer{
        color: #1c191a;
        flex-direction: row;
        text-align: left;
        position: fixed;
        bottom: 0;
        width: 100%;
        max-height: 15%;
        background-color: #f6e7d8;
    }
}